@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap');

#hotel-logo {
	position: absolute;
	width: 84px;
	height: 82px;
	left: 215px;
	top: 37px;
}

.navigation-bar {
	position: absolute;
	width: 497px;
	height: 44px;
	left: 574px;
	top: 62px;
}

a {
	font-family: Gideon Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: rgba(115, 92, 81, 1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}