@charset "UTF-8";

body {
	background: rgba(253, 91, 91, 0.35);
	margin: 0px;
}

#page-content {
	position: relative;
	top: 250px;
	display: flex;
	justify-content: center;
}

table {
	width: 50%;
}

.page-navigation {
	position: absolute;
	margin-left: 47%;
	margin-top: 20%;
	width: 90px;
}