@charset "UTF-8";

.main-page-body {
	background: linear-gradient(121.99deg, #FED5CD 4.95%, #E0CDFE 70.55%);
	margin: 0px;
}

#main-heading {
	width: 400px;
}

.login-page-body {
	background: #E0CDFE;
	margin: 0px;
}

#welcome-back-msg {
	text-align: center;
	width: 70%;
}

#registration-msg {
	text-align: center;
	width: 70%;
	margin-left: 30px;
}

#log-in-btn {
	margin: 20px;
	margin-left: 87px;
}

#login-input {
	margin-bottom: 10px;
}

#login-input, #password-input {
	margin-left: 60px;
	margin-bottom: 10px;
}

.log-in-box {
	position: relative;
	width: 40%;
	height: 50%;
	left: 530px;
	top: 200px;
	display: flex;
	flex-direction: column;
}

#language-bar {
	position: absolute;
	top: 30px;
	right: 70px;
}

.error-msg {
	text-align: center;
	width: 70%;
}

#main-page-content {
	position: relative;
	width: 70%;
	left: 300px;
	top: 200px;
}

#background-circle {
	position: absolute;
	left: 422px;
	top: -43px;
	background: radial-gradient(109.53% 113.91% at -9.56% 0%, rgba(115, 120, 224, 0.22) 0%,
		rgba(74, 233, 255, 0.22) 100%);
	border-radius: 50%;
	width: 560.16px;
	height: 549.29px;
}