@charset "UTF-8";

body {
	background: rgba(223, 95, 255, 0.33);
	margin: 0px;
}

#page-content {
	position: relative;
	width: 50%;
	top: 220px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.page-navigation {
	position: absolute;
	margin-left: 48%;
	margin-top: 15%;
	width: 90px;
}

#rooms-table {
	margin-top: 5%;
}