@charset "UTF-8";

body {
	background: linear-gradient(121.99deg, #FED5CD 4.95%, #E0CDFE 70.55%);
	margin: 0px;
}

input, label {
	display: block;
}

#request-room-content {
	position: relative;
	top: 200px;
	margin-left: 20%;
}

#choose-a-room {
	position: absolute;
	top: 0px;
	left: 0px;
}

#room-capacity {
	position: absolute;
	top: 250px;
}

#room-class {
	position: absolute;
	top: 250px;
	left: 350px;
}

#start-date {
	position: absolute;
	top: 100px;
}

#end-date {
	position: absolute;
	top: 100px;
	left: 350px;
}

#apply {
	position: absolute;
	top: 380px;
	left: 0px;
}