@charset "UTF-8";

body {
	background: rgba(223, 95, 255, 0.33);
	margin: 0px;
}

#page-content {
	position: relative;
	width: 50%;
	height: 50%;
	top: 220px;
	margin: 0 auto;
}

.page-navigation {
	position: absolute;
	margin-left: 42%;
	margin-top: 5%;
	width: 90px;
}

#rooms-table {
	margin-top: 5%;
}