@charset "UTF-8";

body {
	background: rgba(223, 95, 255, 0.33);
	margin: 0px;
}

#page-content {
	position: relative;
	width: 60%;
	margin: 0 auto;
	top: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page-navigation {
	margin-top: 4%;
}

#dash>h1 {
	margin: 0px;
	line-height: 10px;
}